.modal-body ul {
    overflow: auto;
}

.ratings_list .col-md-9, .ratings_list .col-md-12 {
    padding-left: 0px;
}

.ratings_list {
    height: 170px;
    margin-top: 10px;
    width: 220px;
    margin-left: 5px;
}

ul .ratings-alphabet {
    height: 15px;
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

ul .ratings-alphabet li {
    width: 10px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #000000;
    font-size: 16px;
    text-align: center;
}

ul .ratings-alphabet li:hover {
    background-color: #eee;
    cursor: pointer;
}

ul .ratings-alphabet .active {
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

.list_character {
    margin-bottom: 5px;
    text-align: center;
}

.ratings_list .all_ranks {
    height: auto;
}

ul .rank_list_min {
    height: 120px;
    overflow: hidden;
}

div.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ratings_list p {
    margin-top: 5px;
    border-bottom: 1px solid #000000;
}

.show_all {
    border-top: 1px solid #000000;
    margin-top: 5px;
}